body {
  background: #2acaa4;
}

.card {
  display: inline-block;
  height: 200px;
  width: 125px;
  background: white;
  font-size: 400%;
  margin: 0 20px;
}

.card span {
  display: block;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

.card span.black {
  color: black;
}

.card span.red {
  color: red;
}

.hide {
  display: none;
}

#table {
  position: relative;
}

.announce {
  position: absolute;
  top: 0;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.announce span {
  font-size: 72px;
  display: block;
  text-align: center;
}

#bust {
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.315);
}

#blackjack {
  border: 2px solid green;
  background: rgba(0, 255, 0, 0.315);
}

#count, #dealerCount {
  font-size: 24px;
}

#winner {
  border: 2px solid orange;
  background: rgba(265, 165, 0, 0.315)
}

.blur {
  filter: blur(3px)
}